<div class="card-panel opaque">
	<p class="flow-text white-text">
	Sai Chaitanya, Software Engineer ...</p>
	<p class="flow-text white-text">I am a professional Software Developer with years of experience. I build websites and web applications with NodeJS, Scala, ASP.NET</p>
	<p class="flow-text white-text">Having excellent communication skills, understanding of Software Development and Business processes, I am able to develop products from start to finish. </p>
	<p class="flow-text white-text">My hobbies include developing proof of concepts and writing articles which you can find on the work samples page. </p>
	<p class="flow-text white-text">Other hobbies include Squash, Reading and Music.</p>
</div>