<div class="grey darken-4">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Certifications and Courses</div>
      <div class="collapsible-body">
        <ul class="white-text flow-text">
          <li>Introduction to Hadoop and Map Reduce (Udacity.com) - May 2015</li>
          <li>MCPS - Programming in HTML5 and JavaScript and CSS3 - Dec 2015</li>
          <li>M102 - Mongo for DBAs - May 2015</li>
          <li>M101JS - Mongo for Node.js Developers - May 2015</li>
          <li>Oracle Certified Professional, Java SE 6 Programmer - Jan 2014</li>
          <li>MySQL 5 Certified Associate - Nov 2013</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Masters in Computer Science - Ryerson University (2010-2012)</div>
      <div class="collapsible-body">
        <span class="white-text flow-text">Thesis: 
        </span>
        <ul class="white-text flow-text">
          <li><a class="orange-text" href="http://digital.library.ryerson.ca/islandora/object/RULA%3A2445">Designing and Evaluating an Interface for the Composition of Vibro-Tactile Patterns Using Gestures</a></li>
        </ul>
        <br/>
        <span class="white-text flow-text"> Courses: </span>
        <ul class="white-text flow-text">
          <li>Digital Signals Processing</li>
          <li>Human Computer Interaction</li>
          <li>Research Methods</li>
          <li>Image Analysis</li>
          <li>Soft Computing and Machine Intelligence </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Bachelors in Computer Engineering - Ryerson University (2006-2010)</div>
      <div class="collapsible-body">
        <span class="white-text flow-text"> Courses: </span>
        <ul class="white-text flow-text">
          <li>Software Engineering</li>
          <li>Robotics</li>
          <li>Advanced Computer Programming</li>
          <li>Embedded Computer Systems</li>
          <li>Computer Networking</li>
        </ul>
      </div>
    </li>
  </ul>
</div>