<div class="row opaque">
  <div class="card small transparent" style="height:450px;">
    <div class="row">
    <div class="card-image col l3 m3 s4">
      <img style="margin: 10px;" src="assets/profile.png"></img>
    </div>
    <div class="card-content">
      <p class="flow-text white-text">Full Stack Software Developer</p>
      <p class="flow-text white-text">NodeJS, Scala, Java, HTML5, Ruby on Rails, ASP.NET, Hadoop</p>
      <p class="white-text" style="margin-bottom:5px;">Phone: <span class="chip clickable" ng-click="revealPhone()">{{phone}}</span></p>
      <p class="white-text">Email: <span class="chip clickable" ng-click="revealEmail()">{{email}}</span></p> 
    </div>
    <div class="card-action col offset-l3 offset-m3 offset-s6">
      <span><a href="https://github.com/saichaitanya88">GITHUB</a></span>
      <span class="nowrap"><a href="https://ca.linkedin.com/in/sai-chaitanya-77314754">LINKED IN</a></span>
      <span><a href="http://softwaregrizzlybear.wordpress.com">BLOG</a></span>
    </div>
    </div>
  </div>
</div>