<div class="grey darken-4">
  <ul class="collapsible" data-collapsible="expandable">
	<li>
      <div class="collapsible-header active flow-text"><i class="material-icons">perm_identity</i>nLogic (Current)</div>
      <div class="collapsible-body">
      	<ul class="white-text flow-text">
          <li>Developed and overhauled a legacy reporting software with Angular2 </li>
          <li>Utilized Functional Programming to maintain simplicity, reusability of codebase to account for various report types and business rules that are imposed by TV and Radio industries.</li>
          <li>Platform: ASP.NET Core, NPM, NodeJs, Angular2, SQL Server, Microsoft Azure</li>
        </ul>
    	</div>
    </li>
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Gryphtech - Sep 2014 - Apr 2016</div>
      <div class="collapsible-body">
      	<ul class="white-text flow-text">
          <li>Developed features for Insurance claims management and payment application for
Insurance Company.</li>
          <li>Met with C-Level clients to gather project scope and providing budget estimates.</li>
          <li>Building applications for Real Estate Brokerages in North America.</li>
          <li>Contributed to the introduction of new technologies and training of team members with new technologies.</li>
          <li>Worked with micro-services for OAuth/Single-Sign-On, Auditing etc., via REST API for internal and external integrations.</li>
          <li>Contributed to the popular Angular-UI/Bootstrap open source repository with code fixes.</li>
          <li>Platform: ASP.NET MVC4, AngularJS, SQL Server 2012, Microsoft Azure</li>
        </ul>
    	</div>
    </li>
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Couch and Associates - Nov 2012 To Sep 2014</div>
      <div class="collapsible-body">
        <ul class="white-text flow-text">
          <li>Developed applications for clients like NetApp, Assurance Agency, BrightTALK,
NetProspex and, StrikeIron.</li>
          <li>Supported variety of applications ranging from Angular-JS to legacy VB.NET 2.0
applications.</li>
          <li>Management of the Visual Studio - Team Foundation Server.</li>
          <li>Management of the Amazon Web Services EC2 and RDS Infrastructure which hosts
          applications developed by the team.</li>
          <li>Built and deployed applications on Amazon Elastic Beanstalk platform to scale Web Applications.</li>
          <li>Monitored applications using Amazon Cloud Watch and Heart Beat monitors.</li>
          <li>Reported system metrics to the CEO and leadership team.</li>
          <li>Managed a team in India to foresee development of an Eloqua Cloud Connector.</li>
          <li>Platform: ASP.NET MVC4, AngularJS, Java, Ruby on Rails, Salesforce, Eloqua, Marketo,
          SQL Server, MySQL</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header active flow-text"><i class="material-icons">play_arrow</i>Ryerson University - Sep 2010 To Mar 2013</div>
      <div class="collapsible-body">
      	<ul class="white-text flow-text">
          <li>Pioneered the field of vibro-tactile and gesture interfaces by creating the Vibro-Motion system, which allows the composition of vibro-tactile music using gestures.</li>
          <li>Implemented the system using C#, .NET Frameworks, Microsoft Kinect SDK and MAX/MSP. </li>
          <li>Was invited to exhibit the Vibro-Motion and represent Ryerson University at the North American Broadcasters Convention in Las Vegas (April 2012), Ontario Centres of Excellence in Toronto (May 2012) and at the Nuit Blanche in London, Ontario (June 2012).</li>
          <li>Study results showed that the Vibro-Motion provided a great user experience, intuitive design and has a potential for adoption.</li>
          <li>Recieved Ryerson Graduate Scholarship (2010-2011, 2011-2012)</li>
        </ul>
    	</div>
    </li>
  </ul>
</div>