<div class="row opaque">
  <div class="card small transparent">
    <div class="row">
    <div class="card-image col l3 m6 s6">
      <img src="https://softwaregrizzlybear.files.wordpress.com/2016/10/platformer.png?w=700">
    </div>
    <div class="card-content">
      <p class="white-text flow-text">2D Platformer game with Scala/LibGDX</p>
    </div>
    <div class="card-action col offset-l3 offset-m6 offset-s6">
      <span style="margin-left:10px;"><a href="https://softwaregrizzlybear.wordpress.com/category/gamedev/">BLOG</a></span>
    </div>
    </div>
  </div>
</div>
<div class="row opaque">
  <div class="card small transparent">
    <div class="row">
    <div class="card-image col l3 m6 s6">
      <img src="https://softwaregrizzlybear.files.wordpress.com/2016/04/nom3.png?w=700">
    </div>
    <div class="card-content">
      <p class="white-text flow-text">Nom3 - Look Up and Discover Recipes by Selecting Ingredients</p>
    </div>
    <div class="card-action col offset-l3 offset-m6 offset-s6">
      <span style="margin-left:10px;"><a href="https://github.com/saichaitanya88/nomnomnom/">GITHUB</a></span>
      <!--<span class="nowrap" style="margin-left:10px;"><a href="http://nom3.saichaitanya.ca">LIVE DEMO</a></span>-->
      <span style="margin-left:10px;"><a href="https://softwaregrizzlybear.wordpress.com/2016/04/09/nom3-look-up-and-discover-recipes-by-selecting-ingredients/">BLOG</a></span>
    </div>
    </div>
  </div>
</div>
<div class="row opaque">
  <div class="card small transparent">
    <div class="row">
    <div class="card-image col l3 m6 s6">
      <img src="https://softwaregrizzlybear.files.wordpress.com/2016/01/secure-chat-app-flow.png?w=700">
    </div>
    <div class="card-content">
      <p class="white-text flow-text">Secure Chat with SocketIO, NodeJS and AES Encryption</p>
    </div>
    <div class="card-action col offset-l3 offset-m6 offset-s6">
      <span style="margin-left:10px;"><a href="https://github.com/saichaitanya88/secure_chat/">GITHUB</a></span>
      <span class="nowrap" style="margin-left:10px;"><a href="https://sai-secure-chat.herokuapp.com">LIVE DEMO</a></span>
      <span style="margin-left:10px;"><a href="https://softwaregrizzlybear.wordpress.com/2016/01/30/secure-chat-with-socketio-nodejs-and-aes-encryption/">BLOG</a></span>
    </div>
    </div>
  </div>
</div>
<div class="row opaque">
  <div class="card small transparent">
    <div class="row">
    <div class="card-image col l3 m6 s6">
      <img src="https://softwaregrizzlybear.files.wordpress.com/2016/01/app-architecture.png?w=918&h=513">
    </div>
    <div class="card-content">
      <p class="white-text flow-text">An Approach to Multi-Tenant Applications with MongoDB</p>
    </div>
    <div class="card-action col offset-l3 offset-m6 offset-s6">
      <span style="margin-left:10px;"><a href="https://github.com/saichaitanya88/contact_manager.prototype">GITHUB</a></span>
      <span style="margin-left:10px;"><a href="https://softwaregrizzlybear.wordpress.com/2016/01/23/an-approach-to-multi-tenant-applications-with-mongodb/">BLOG</a></span>
    </div>
    </div>
  </div>
</div>
<div class="row opaque">
  <div class="card small transparent">
    <div class="row">
    <div class="card-image col l3 m6 s6">
      <img src="https://softwaregrizzlybear.files.wordpress.com/2016/01/architecture1.png?w=700">
    </div>
    <div class="card-content">
      <p class="white-text flow-text">Real-time Push Notifications in a Distributed Environment with NodeJS, RethinkDB and Socket.IO</p>
    </div>
    <div class="card-action col offset-l3 offset-m6 offset-s6">
      <span style="margin-left:10px;"><a href="https://github.com/saichaitanya88/pushnotification.prototype">GITHUB</a></span>
      <span class="nowrap" style="margin-left:10px;"><a href="http://pushnotify.saichaitanya.ca/#/">LIVE DEMO</a></span>
      <span style="margin-left:10px;"><a href="https://softwaregrizzlybear.wordpress.com/2016/01/18/real-time-push-notifications-in-a-distributed-environment-with-nodejs-rethinkdb-and-socket-io/">BLOG</a></span>
    </div>
    </div>
  </div>
</div>